@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    height: 100%;
    background-color: whitesmoke;
    margin: 0;
}